@using jwhitehead_BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/assets/css/myStyles.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body class="account-pages">

    <div class="row">
        <div id="LoginWindow">
            <div id="LoginWindowBanner">
                <h2 style="color: white; font-weight: 500;">@ViewBag.Title.</h2>
                <h4 style="color: white; font-weight: 300; ">Use a local account to log in.</h4>
            </div>
            <section id="loginForm" style="padding: 20px;">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", style = "display: inline;" }) @*jw added*@
                            <i class="fa fa-envelope-o"; style="font-size: 25px; vertical-align: middle; color: dimgrey"></i>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", style="display: inline;"}) @*jw added*@
                            <i class="fa fa-lock"; style="font-size: 25px;  vertical-align: middle; color: dimgrey;"></i>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-primary" id="logInButton" style="width: 80%; text-align: center;"/>
                        </div>
                    </div>
                }

                @*ADD DEMO BUTTONS
                Admin Demo*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input name="Email" value="admin@coderfoundry.com" hidden />
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="col-xs-12">
                                    <input name="Password" value="DemoPassword1!" hidden />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block" type="submit">Administrator Demo</button>
                            </div>
                        </div>
                }

                @*Project Manager Demo*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-top: -40px;">
                        <div class="col-xs-12">
                            <input name="Email" value="projectmanager@coderfoundry.com" hidden />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <input name="Password" value="DemoPassword1!" hidden />
                            </div>
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button class="btn btn-primary btn-block" type="submit">Project Manager Demo</button>
                            </div>
                        </div>
                }

                @*Developer Demo*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-top: -40px;">
                        <div class="col-xs-12">
                            <input name="Email" value="developer@coderfoundry.com" hidden />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <input name="Password" value="DemoPassword1!" hidden />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block" type="submit">Developer Demo</button>
                        </div>
                    </div>
                }

                @*Submitter Demo*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-top: -40px;">
                        <div class="col-xs-12">
                            <input name="Email" value="submitter@coderfoundry.com" hidden />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="col-xs-12">
                                <input name="Password" value="DemoPassword1!" hidden />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-block" type="submit">Submitter Demo</button>
                        </div>
                    </div>
                }


                <p style="text-align: center;">
                    <a href="@Url.Action("Register", "Account")" class="btn btn-warning btn-block" style="text-align: center;">Register as a new user</a>
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality*@
                <p style="text-align: center;">
                    @*@Html.ActionLink("Forgot your password?", "ForgotPassword")*@
                    <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-warning btn-block" style="text-align: center; margin-top: -5px;">Forgot your password?</a>
                </p>

                <hr style="border-color: #808080;" />
                <footer>
                    <p style="text-align: center;">&copy; @DateTime.Now.Year - Judd Whitehead</p>
                </footer>

            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>
</html>