@model IEnumerable<jwhitehead_BugTracker.Models.CodeFirst.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Tickets for @ViewBag.FullName</h2>

@if (User.IsInRole("Submitter"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <br />
}

<table id="myTable" class="table">

    <thead>
        <tr>
            <th>
                Assigned To
                @*@Html.DisplayNameFor(model => model.AssignToUser.FirstName)*@
            </th>
            <th>
                Created By
                @*@Html.DisplayNameFor(model => model.OwnerUser.FirstName)*@
            </th>
            <th>
                Project Name
                @*@Html.DisplayNameFor(model => model.Project.Title)*@
            </th>
            <th>
                Priority
                @*@Html.DisplayNameFor(model => model.TicketPriority.Name)*@
            </th>
            <th>
                Status
                @*@Html.DisplayNameFor(model => model.TicketStatus.Name)*@
            </th>
            <th>
                Ticket Name
                @*@Html.DisplayNameFor(model => model.Title)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>*@
            <th>
                Ticket Type
                @*@Html.DisplayNameFor(model => model.TicketType)*@
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignToUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerUser.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
               @*<td>
                   @Html.ToUserTime(item.Created, ViewBag.UserTimeZone as string, "MM-dd-yyyy hh:mm:ss")
                </td>
                <td>
                    @if (item.Updated != null)
                    {
                        @Html.ToUserTime(item.Updated.Value, ViewBag.UserTimeZone as string, "MM-dd-yyyy hh:mm:ss")
                    }
                </td>*@
               
                <td>
                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { style = "display: block;" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { style = "display: block;" })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { style = "display: block;" })*@
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $("#myTable").DataTable();
    </script>
}
